venv
.venv
.ipynb_checkpoints
__pycache__
logs
eval_results

hostfiles
loss_files
other-results
*.png
!average_per_register_dec2024.png

configs/*
!configs/template*.yml

sampling/results
sampling/concat.sh